* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    font-family: tahoma;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
}
.registro_container{
    background-color: #7d7d7d;
    width: 350px;
    border-top: solid .5rem  gold;
    box-sizing: border-box;
    padding: 2rem 0;
    box-shadow: 0 0 .5rem  gold;
}
.registro_top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registro_img{
    width: 9rem;
    border-radius:50%;
}
.registro_titulo{
    color: white;
}
.registro_form{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem 0;
}

input[type=text],[type=password]{
    height: .1rem;
    margin: .2rem 0 ;
    padding: 1rem ;
    transition: all .7s;
}
input[type=text]:focus,[type=password]:focus{
    border-color: gold;
}

.btn_submit{
    height: 2rem;
    background-color: gold;
    border: none;
    padding: .5rem;
    border-bottom: solid gold .2rem;
    color: white;
    width: 40%;
}

.btn_submit:hover{
   /**/
}
.form_recover{
    color: white;
    text-decoration: none;
    text-align: center;
}
.form_recover:hover{
    color: gold;
}
